body {
  font-family: Mont;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 287px;
  height: 440px;
  padding: 32px;
  background-color: #161827;

  &__img-container {
    display: flex;
    justify-content: center;
    height: 130px;
    margin-bottom: 24px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    height: 42px;
    font-family: Mont;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #f1f2f9;
  }
}
