@use '../../styles/utils' as *;

body {
  font-family: Mont;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 440px;
  padding: 32px;
  background-color: #161827;

  @include on-tablet {
    height: 506px;
  }

  @include on-desktop {
    height: 506px;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    height: 130px;
    margin-bottom: 8px;

    @include on-tablet {
      height: 196px;
    }
    @include on-desktop {
      width: 208px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__title-wrapper {
    display: flex;
    align-items: flex-end;
    min-height: 42px;
    margin-top: 24px;
  }

  &__title {
    display: block;
    margin: 0;
    font-family: 'Mont', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #f1f2f9;
  }
}
