@use '../../../styles/variables.scss' as *;

.dropdown {
  position: relative;
  width: 176px;
  z-index: 2000;
}

.dropdown__button {
  width: 100%;
  height: 40px;
  padding: 0 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $bg-card;
  border: 1px solid $color-border;
  border-radius: 8px;

  color: $color-text-primary;
  cursor: pointer;
}

.dropdown__list {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;

  background: $bg-surface;
  border: 1px solid $color-border;
  border-radius: 8px;

  overflow: hidden;
  z-index: 2000;
}

.dropdown__item {
  padding: 10px 12px;
  cursor: pointer;
  transition: background $transition-default;

  &:hover {
    background: $color-elements;
  }
}

.active {
  background: $color-elements;
}

.arrow {
  font-size: 10px;
  transition: transform $transition-default;
}

.arrowOpen {
  transform: rotate(180deg);
}
