@import '../../../../styles/utils';
@import '../../../../styles/variables';

.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;

  @include on-tablet {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-column: 1 / 8;
    gap: 16px;
    align-items: center;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;

    @include on-tablet {
      order: 2;
    }

    img {
      width: 288px;
      height: 288px;
      object-fit: contain;
      transition: $transition-default;

      @include on-desktop {
        width: 264px;
        height: 264px;
      }
    }
  }

  &__thumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    order: 2;

    @include on-tablet {
      flex-direction: column;
      justify-content: center;
      height: 100%;
      order: 1;
    }
  }
}

.thumb {
  width: 50px;
  height: 50px;
  padding: 4px;
  cursor: pointer;
  border: 1px solid $color-border;
  background-color: transparent;
  transition: $transition-default;

  @include on-tablet {
    width: 80px;
    height: 80px;
    padding: 8px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:hover {
    border-color: $color-accent;
    background-color: rgba($color-accent, 0.05);
  }

  &.active {
    border: 2px solid $color-text-primary;
  }
}
