@use '../../../styles/variables' as *;

.gallery {
  margin-top: 32px;
  text-align: center;

  &__main {
    overflow: hidden;

    img {
      width: 274px;
      height: 274px;
      object-fit: contain;
      transition: $transition-default;
    }
  }

  &__thumbs {
    padding-top: 16px;
    display: flex;
    justify-content: left;
    gap: 8px;
  }
}

.thumb {
  width: 80px;
  height: 80px;
  padding: 8px;
  cursor: pointer;
  transition: $transition-default;
  border: 1px solid $color-border;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    border: 2px solid $color-text-primary;
  }
}
