@use '../../styles/variables' as *;
@import '../../styles/utils';

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.product-details-page {
  width: 100%;
  min-height: 100vh;
  padding-inline: 16px;
  margin: 0;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: clamp(32px, calc(32px + (100vw - 1200px) * 0.5), 152px);
    margin: 0 auto;
  }

  .product-header {
    margin-top: 24px;

    @include on-tablet {
      margin-top: 16px;
    }

    .product-title {
      color: $color-light-1;
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.01em;

      @include on-tablet {
        font-size: 40px;
        line-height: 48px;
      }
    }
  }

  .product-content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-desktop {
      @include page-grid;
      align-items: start;
    }

    .product-main {
      @include on-desktop {
        grid-column: 1 / 17;
      }
    }

    .product-side {
      @include on-desktop {
        grid-column: 17 / 25;
      }
    }
  }
}
