@use '../../../styles/variables' as *;

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;

  @media (min-width: 640px) {
    width: 72px;
    height: 72px;
  }

  @media (min-width: 1024px) {
    width: 96px;
    height: 96px;
  }
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid $color-text-primary;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: $color-accent;
  animation:
    prixClipFix 2s linear infinite,
    rotate 0.5s linear infinite reverse;
  inset: 6px;
}
