@import '../../styles/utils.scss';

.favorites-page {
  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 16px;

    @include on-tablet {
      padding: 0 24px;
    }

    @include on-desktop {
      padding: 0 32px;
    }
  }

  &__history {
    margin-bottom: 24px;
    margin-top: 24px;
    color: #75767f;
  }

  &__text {
    display: block;
    text-align: left;
  }

  &__title {
    display: block;
    margin-top: 24px;
    margin-bottom: 8px;
    color: #f1f2f9;
    font-family: Mont;
    font-style: bold;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  &__items-number {
    display: block;
    margin-bottom: 24px;
    font-size: 14px;
    color: #75767f;
  }

  &__all-favorites {
    padding-bottom: 56px;

    @include on-tablet {
      padding-bottom: 64px;
    }

    @include on-desktop {
      padding-bottom: 80px;
    }

    display: grid;
    row-gap: 40px;
    column-gap: 16px;

    grid-template-columns: 1fr;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(4, 1fr);
    }

    & > * {
      min-width: 0;
    }
  }
}
