@import '../../styles/utils.scss';
@import '../../styles/variables.scss';

.favorites-page {
  &__loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 64px);
  }

  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 16px;

    @include on-tablet {
      padding: 0 24px;
    }

    @include on-desktop {
      padding: 0 32px;
    }
  }

  &__text {
    display: block;
    text-align: left;
  }

  &__heart {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__title {
    display: block;
    margin-top: 24px;
    margin-bottom: 8px;
    color: #f1f2f9;
    font-family: Mont, sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  &__items-number {
    display: block;
    margin-bottom: 24px;
    font-size: 14px;
    color: #75767f;
  }

  &__empty {
    text-align: center;
    margin-top: 60px;
  }

  &__all-favorites {
    padding-bottom: 56px;
    display: grid;
    row-gap: 40px;
    column-gap: 16px;
    grid-template-columns: 1fr;

    @include on-tablet {
      padding-bottom: 64px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include on-desktop {
      padding-bottom: 80px;
      grid-template-columns: repeat(4, 1fr);
    }

    & > * {
      min-width: 0;
    }
  }

  &__addToCart {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 175px;
    height: 40px;
    font-family: 'Mont', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    color: $color-light-1;
    background-color: $color-accent;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 0 auto;
  }
}
