@import '../../styles/utils.scss';

.favorites-page {
  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;

    @include on-tablet {
      padding: 0 24px;
    }

    @include on-desktop {
      padding: 0 32px;
    }
  }

  &__text {
    display: block;
    text-align: left;
    grid-column: 1 / 1;
  }

  &__title {
    display: block;
    color: #f1f2f9;
    font-family: 'Mont';
    font-style: bold;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    margin-bottom: 8px;

    @include on-tablet {
      font-size: 48px;
      line-height: 56px;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__items-number {
    display: block;
    color: #89939a;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__all-favorites {
    padding-bottom: 56px;

    @include on-tablet {
      padding-bottom: 64px;
    }

    @include on-desktop {
      padding-bottom: 80px;
    }
  }
}
