@import '../../../styles/utils';

.block {
  border: 1px solid #3b3e4a;
  padding: 24px;
  width: 100%;
  background-color: #0f1121;

  .price {
    color: #f1f2f9;
    font-size: 32px;
    font-weight: 800;
    font-family: Mont;
    display: flex;
    justify-content: center;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  .info {
    color: #75767f;
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    margin-top: 8px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #3b3e4a;
  }

  .buttonCheck {
    color: #f1f2f9;
    background-color: #905bff;
    border: none;
    line-height: 21px;
    padding: 10px 24px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    letter-spacing: 0;
    transition: background-color 0.3s;

    &:hover {
      background-color: #7c4ce0;
    }

    &:disabled {
      background-color: #4a4d58;
      cursor: not-allowed;
    }
  }
}
