@use '../../../styles/variables' as *;

.product-actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  &__add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 175px;
    height: 40px;
    font-family: 'Mont', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    color: $color-light-1;
    background-color: $color-accent;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
  }

  &__favorites {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: $bg-card;
    background-image: url(../../../../public/img/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;

    &:focus {
      outline: 2px solid $color-accent;
      outline-offset: 2px;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &--active {
      background-image: url(../../../../public/img/heart-red.svg);
    }
  }
}
