@import '../../../styles/variables.scss';

.cart-container {
  width: 144px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container svg {
  width: 100%;
  height: 100%;
}

.cart-icon {
  color: #9ca3af; // сірий колір контуру
}
