@use '../../../../styles/variables' as *;
@import '../../../../styles/utils';

.menu {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-main;
  z-index: 50;
  display: flex;
  flex-direction: column;

  transition: transform $transition-default;
  transform: translateX(-100%);

  &--open {
    transform: translateX(0);
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 24px;
    align-items: flex-start;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    color: $color-secondary;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    transition: color $transition-default;

    &:hover {
      color: $color-light-1;
    }

    &--active {
      color: $color-light-1;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-light-1;
      }
    }
  }

  &__footer {
    display: flex;
    height: 64px;
    border-top: 1px solid $color-border;
    margin-top: auto;
  }
}

.footer_btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $color-border;
  position: relative;
  transition:
    background-color $transition-default,
    opacity $transition-default;

  opacity: 0.5;

  &:last-child {
    border-right: none;
  }

  &:hover {
    background-color: rgba($color-light-1, 0.05);
    opacity: 1;
  }

  img {
    width: 16px;
    height: 16px;
  }

  &--active {
    opacity: 1;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background-color: $color-light-1;
    }
  }
}
