.my-custom-toast {
  border-radius: 8px !important;
  font-family: inherit !important;

  padding: 10px 14px !important;
  font-size: 14px !important;
  width: calc(100vw - 32px) !important;
  margin: 0 16px 16px !important;

  @include on-tablet {
    padding: 8px 12px !important;
    font-size: 14px !important;
    width: fit-content !important;
    min-width: 250px !important;
    max-width: 350px !important;
    margin: 0 !important;
  }

  @include on-desktop {
    padding: 10px 16px !important;
    min-width: 300px !important;
  }
}

.my-custom-toast [data-title] {
  font-weight: 600 !important;
  margin-bottom: 2px !important;
}

.my-custom-toast [data-description] {
  font-size: 13px !important;
  opacity: 0.8;
}
