@mixin on-tablet() {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  //grid-auto-flow: row;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  justify-content: center;

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}
