/* PRIMARY PALETTE */

$color-black: #0f1121;
$color-surface-1: #161827;
$color-surface-2: #323542;
$color-elements: #3b3e4a;
$color-icons: #4a4d58;
$color-secondary: #75767f;

$color-white: #ffffff;
$color-light-1: #f1f2f9;
$color-light-2: #e8e9ee;

/* ACCENTS */

$color-accent: #4219d0;
$color-green: #27ae60;
$color-red: #eb5757;

/* TEXT */

$color-text-primary: $color-white;
$color-text-secondary: $color-secondary;

/* BORDERS */

$color-border: $color-elements;

/* BACKGROUNDS */

$bg-main: $color-black;
$bg-surface: $color-surface-1;
$bg-card: $color-surface-2;

/* TRANSITIONS */

$transition-default: 0.3s ease;
