@use '../../../styles/variables' as *;
@import '../../../styles/utils';

.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 16px;
  padding: 16px;
  background-color: $bg-surface;
  position: relative;

  border-radius: 12px; // ← добавлено

  @include on-tablet {
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 24px;
  }
}

.remove {
  position: absolute;
  left: 16px;
  top: 35%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: $color-secondary;
  font-size: 20px;
  cursor: pointer;

  border-radius: 8px; // ← добавлено

  @include on-tablet {
    left: 24px;
    top: 50%;
  }
}

.imageWrapper {
  grid-column: 1;
  grid-row: 1;
  margin-left: 16px;
  width: 66px;
  height: 66px;
  align-self: center;

  @include on-tablet {
    margin-left: 24px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.details {
  grid-column: 2 / 4;
  grid-row: 1;
  align-self: center;

  @include on-tablet {
    flex: 1;
  }
}

.name {
  color: $color-light-1;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  font-family: Mont;
}

.controls {
  grid-column: 1 / 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 16px;

  @include on-tablet {
    margin-left: 0;
    gap: 24px;
  }
}

.quantity {
  display: flex;
  align-items: center;
  gap: 12px;

  @include on-tablet {
    gap: 16px;
  }
}

.btnPlus {
  width: 32px;
  height: 32px;
  background-color: $bg-card;
  border: 1px solid $color-border;
  color: $color-light-1;
  font-size: 16px;
  cursor: pointer;

  border-radius: 8px; // ← добавлено
}

.btnMinus {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid $color-border;
  color: $color-icons;
  font-size: 16px;
  cursor: pointer;

  border-radius: 8px; // ← добавлено
}

.count {
  color: $color-light-1;
  font-size: 14px;
  font-weight: 600;
}

.price {
  color: $color-light-1;
  font-size: 22px;
  font-weight: 800;
  position: absolute;
  right: 16px;
  bottom: 16px;

  @include on-tablet {
    position: static;
  }
}
