@import '../../../styles/utils';

.item {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #161827;
  border: 1px solid #3b3e4a;
  position: relative;
  gap: 16px;
  width: 100%;

  @include tablet {
    padding: 24px;
  }

  .remove {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #75767f;
    font-size: 20px;
    cursor: pointer;
  }

  .imageWrapper {
    margin-left: 24px;
    width: 64px;
    height: 64px;

    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .details {
    flex: 1;

    .name {
      color: #f1f2f9;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 16px;
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .quantity {
        display: flex;
        align-items: center;
        gap: 12px;

        .countBtn {
          width: 32px;
          height: 32px;
          background-color: transparent;
          border: 1px solid #3b3e4a;
          color: #4a4d58;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &.active {
            background-color: #323542;
            color: #f1f2f9;
          }
        }

        .count {
          color: #f1f2f9;
          font-size: 14px;
        }
      }

      .price {
        color: #f1f2f9;
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
}
