@import '../../styles/utils.scss';

.phones-page {
  padding: 0 16px;
  &__list {
    display: grid;
    gap: 16px;
    justify-items: center;
    row-gap: 40px;
    column-gap: 16px;

    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .title {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #f1f2f9;
    font-family: Mont;
    font-weight: 800;
    font-style: bold;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
  }
}
