@use '../../styles/utils' as *;

.phones-page {
  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 16px;

    @include on-tablet {
      padding: 0 24px;
    }

    @include on-desktop {
      padding: 0 32px;
    }
  }

  .title {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #f1f2f9;
    font-family: Mont;
    font-weight: 800;
    font-style: bold;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  .modelsCount {
    margin-bottom: 24px;
    font-size: 14px;
    color: #75767f;
  }

  &__controls {
    margin-bottom: 24px;
  }

  .controls {
    display: flex;
    gap: 16px;
  }

  .control {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .label {
    font-size: 12px;
    color: #75767f;
  }

  .select {
    width: 136px;
    height: 40px;
    padding: 0 12px;

    background: #323542;
    border: 1px solid #3b3e4a;
    color: #f1f2f9;

    font-family: Mont;
    font-size: 14px;
    appearance: none;
    background-image: url('/img/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
  }

  &__list {
    padding-bottom: 56px;

    @include on-tablet {
      padding-bottom: 64px;
    }

    @include on-desktop {
      padding-bottom: 80px;
    }

    display: grid;
    column-gap: 16px;
    row-gap: 40px;

    grid-template-columns: 1fr;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
    & > * {
      min-width: 0;
    }
  }
}
