@use '../../styles/variables' as *;
@import '../../styles/utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mont;
}

.cart {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 56px;

  @include on-tablet {
    padding: 0 24px;
    padding-bottom: 64px;
  }

  @include on-desktop {
    padding: 0 32px;
    padding-bottom: 80px;
  }

  .title {
    color: $color-light-1;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    margin-top: 24px;
    margin-bottom: 32px;
    letter-spacing: -0.01em;

    h1 {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  .cartContent {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-desktop {
      @include page-grid;
      align-items: start;
    }

    .products {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include on-desktop {
        grid-column: 1 / 17;
      }
    }

    .summary {
      @include on-desktop {
        grid-column: 17 / 25;
        position: sticky;
        top: 24px;
      }
    }
  }
}
