@import '../../styles/utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mont;
}

.cart {
  width: 100%;
  padding-inline: 16px;
  min-height: 100vh;
  margin: 0;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: clamp(32px, calc(32px + (100vw - 1200px) * 0.5), 152px);
    margin: 0 auto;
  }

  .title {
    color: #f1f2f9;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    margin-top: 24px;
    letter-spacing: -0.01em;

    @include on-tablet {
      margin-top: 16px;
      font-size: 48px;
      line-height: 56px;
    }

    h1 {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  .cartContent {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-desktop {
      @include page-grid;
      align-items: start;
    }

    .products {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include on-desktop {
        grid-column: 1 / 17;
      }
    }

    .summary {
      @include on-desktop {
        grid-column: 17 / 25;
        position: sticky;
        top: 24px;
      }
    }
  }
}
