@use '../../../../styles/utils' as *;

.product-card {
  @include page-grid;
  row-gap: 32px;

  &__title {
    grid-column: 1 / -1;
    font-size: 32px;
    font-weight: 800;
    color: #f1f2f9;
    margin: 32px 0 16px;
  }

  &__sidebar {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet {
      grid-column: 8 / 13;
    }

    @include on-desktop {
      grid-column: 14 / 25;
    }
  }

  &__gallery {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 8;
    }

    @include on-desktop {
      grid-column: 1 / 13;
    }
  }

  &__description {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 13;
    }
  }

  &__tech-specs {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 14 / 25;
    }
  }

  &__related {
    grid-column: 1 / -1;
  }
}
