@use '../../styles/utils' as *;

.accessories-page {
  padding: 0 16px;

  @include on-tablet {
    padding: 0 24px;
  }

  @include on-desktop {
    padding: 0 32px;
  }

  @media (min-width: 1440px) {
    padding: 0 152px;
  }

  .title {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #f1f2f9;
    font-family: Mont;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  .modelsCount {
    margin-bottom: 24px;
    font-size: 14px;
    color: #75767f;
  }

  &__controls {
    margin-bottom: 24px;
  }

  .controls {
    display: flex;
    gap: 16px;
  }

  .control {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .label {
    font-size: 12px;
    color: #75767f;
  }

  .select {
    width: 136px;
    height: 40px;
    padding: 0 12px;

    background: #323542;
    border: 1px solid #3b3e4a;
    color: #f1f2f9;

    font-family: Mont;
    font-size: 14px;
    appearance: none;
    background-image: url('/img/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
  }

  &__list {
    display: grid;
    gap: 16px;
    row-gap: 40px;
    column-gap: 16px;

    grid-template-columns: 1fr;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
