@use '../../styles/utils' as *;

.accessories-page {
  padding: 0 16px;

  &__list {
    display: grid;
    gap: 16px;
    row-gap: 40px;
    column-gap: 16px;

    grid-template-columns: 1fr;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .title {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #f1f2f9;
    font-family: Mont;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}
