$color-white: #ffffff;
$color-elements: #323542;
$color-icons: #4a4d58;

.banner {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: auto auto;
  grid-template-areas:
    'prev slider next'
    '.    dots   .   ';
  column-gap: 16px;
  align-items: stretch;
  width: 100%;
  margin: 0;

  @media (max-width: 639px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'slider'
      'dots';
    margin: 0;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid $color-elements;
    cursor: pointer;
    padding: 0;
    width: 32px;
    transition: all 0.2s;

    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 10px;
      background-color: $color-icons;
      mask-image: url('../../../../dist/img/icons/Vector-black.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      transition: background-color 0.2s;
    }

    &:hover {
      background-color: $color-elements;
      &::before {
        background-color: $color-white;
      }
    }

    &--prev {
      grid-area: prev;
      &::before {
        transform: rotate(180deg);
      }
      @media (max-width: 639px) {
        display: none;
      }
    }

    &--next {
      grid-area: next;
      @media (max-width: 639px) {
        display: none;
      }
    }
  }

  &__slider {
    grid-area: slider;
    overflow: hidden;
    width: 100%;

    .swiper {
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 400px;

    @media (min-width: 640px) and (max-width: 1199px) {
      height: 340px;
    }

    @media (max-width: 639px) {
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }

  &__pagination {
    grid-area: dots;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 18px;

    .swiper-pagination-bullet {
      width: 14px !important;
      height: 4px !important;
      border-radius: 2px !important;
      background: $color-elements !important;
      opacity: 1 !important;
      transition: all 0.3s !important;
      cursor: pointer;
      margin: 0 !important;
    }

    .swiper-pagination-bullet-active {
      background: $color-white !important;
      width: 32px !important;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
