@import '../../../../styles/utils';

.buttonBack {
  margin-top: 24px;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 100%;
  font-size: 12px;

  @include on-tablet {
    margin-top: 40px;
  }

  &Link {
    text-decoration: none;
    color: #f1f2f9;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: color 0.3s;

    &:hover {
      color: #905bff;
    }

    &::before {
      content: '<';
      font-size: 12px;
      font-weight: 600;
    }
  }
}
