@import '../../../styles/utils';

$color-bg: #0f1121;
$color-border: #323542;
$color-white: #f1f2f9;
$color-gray: #75767f;

.header {
  height: 48px;
  background-color: $color-bg;
  border-bottom: 1px solid $color-border;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;

  @include on-desktop {
    height: 64px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }

  &__left,
  &__right {
    display: flex;
    align-items: stretch;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding-left: 16px;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 64px;
      height: 22px;
      display: block;
      object-fit: contain;

      @include on-desktop {
        width: 80px;
        height: 28px;
      }
    }
  }

  &__nav {
    display: none;

    @include on-tablet {
      display: flex;
      height: 100%;
      margin-left: 32px;
    }

    @include on-desktop {
      margin-left: 48px;
    }
  }

  &__icons {
    display: none;
    @include on-tablet {
      display: flex;
    }
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    background: transparent;
    border: none;
    border-left: 1px solid $color-border;
    cursor: pointer;
    padding: 0;

    @include on-tablet {
      display: none;
    }

    &:hover {
      background-color: rgba($color-white, 0.05);
    }
  }
}

.nav_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  @include on-tablet {
    gap: 32px;
  }

  @include on-desktop {
    gap: 64px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    color: $color-gray;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative;

    &:hover {
      color: $color-white;
    }

    &--active {
      color: $color-white;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $color-white;
      }
    }
  }
}

.icon_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;
  border-left: 1px solid $color-border;
  text-decoration: none;
  transition: background-color 0.2s ease;
  position: relative;

  @include on-desktop {
    width: 64px;
  }

  &:hover {
    background-color: rgba($color-white, 0.05);
  }

  &--active {
    background-color: rgba($color-white, 0.1);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $color-white;
    }
  }

  img {
    width: 16px;
    height: 16px;
  }
}

.burger_icon {
  width: 16px;
  height: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-white;
    border-radius: 2px;
    transition:
      transform 0.3s ease,
      opacity 0.2s ease;
    transform-origin: center;
  }

  &--active {
    span:nth-child(1) {
      transform: translateY(3.5px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
      transform: translateX(-5px);
    }

    span:nth-child(3) {
      transform: translateY(-3.5px) rotate(-45deg);
    }
  }
}
