@use '../../styles/utils' as *;
@use '../../styles/variables' as *;

.tablets-page {
  padding: 0 16px;

  .title {
    margin-top: 24px;
    margin-bottom: 8px;
    color: $color-light-1;
    font-family: Mont;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  &__controls {
    margin-bottom: 24px;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
    }
  }

  .control {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .label {
    font-size: 12px;
    color: $color-secondary;
  }

  .select {
    width: 136px;
    height: 40px;
    padding: 0 12px;

    background: $bg-card;
    border: 1px solid $color-border;
    color: $color-light-1;

    font-family: Mont;
    font-size: 14px;
  }

  &__list {
    display: grid;
    gap: 16px;
    row-gap: 40px;
    column-gap: 16px;

    grid-template-columns: 1fr;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
