@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Mont;
  background-color: #0f1121;
}
body {
  margin: 0;
  min-height: 100vh;
}
