.category-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  text-decoration: none;
  color: inherit;

  &__image-wrapper {
    width: 100%;
    height: 320px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 24px;
    background: $color-surface;

    @include on-tablet {
      height: 280px;
    }

    @include on-desktop {
      height: 320px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #6d6474;
    object-position: left center;
  }

  &__image-tablets {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #8d8d92;
    object-position: left center;
  }

  &__image-access {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #973d5f;
    object-position: left center;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 4px;
    letter-spacing: -0.01em;

    @include on-tablet {
      font-size: 18px;
    }

    @include on-desktop {
      font-size: 20px;
    }
  }

  &__count {
    font-size: 14px;
    color: $color-secondary;
    font-weight: 600;
  }
}
