@import '../../../../styles/utils';
@import '../../../../styles/variables';

.product-options {
  display: block;

  @include on-tablet {
    grid-column: 8 / 13;
    grid-row: 1;
    margin-top: 0;
  }

  &__title {
    margin-top: 0;
    font-size: 12px;
    font-weight: 700;
    color: #75767f;

    @include on-tablet {
      margin-top: 40px;
    }

    &--capacity {
      font-size: 12px;
      font-weight: 700;
      color: #75767f;
      margin-top: 24px;
    }
  }

  &__colors {
    margin-top: 10px;
    border-bottom: 1px solid #3b3e4a;
    padding-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__ram {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    border-bottom: 1px solid #3b3e4a;
    padding-bottom: 24px;
  }

  &__ram-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 20px;
    color: #f1f2f9;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #4a4d58;
    background-color: transparent;
    cursor: pointer;
    transition: transition;

    &:hover {
      border-color: #f1f2f9;
    }

    &--active {
      background-color: #f1f2f9;
      color: #0f1121;
      border-color: #f1f2f9;
      cursor: default;
    }
  }
}
