@use '../../styles/variables' as *;
@import '../../styles/utils';

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-light-1;
  margin-top: 60px;
  font-size: 36px;

  @include on-tablet {
    font-size: 54px;
    margin-top: 120px;
  }

  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-light-1;
    font-size: 24px;
  }
}
